
:root{
    --ff-charText: 'Romanesco', cursive;
    --ff-introText: 'Noto Sans JP', sans-serif;

    --clr-green: #0B3522;
    --clr-grey: #DADADA;

}

*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: var(--ff-introText);
}

/*========navbar=========*/
.nav-bar{
    width: 100%;
    height: 2.5em;
    background-color: var(--clr-grey);
    position: sticky;
    top: 0;
    z-index: 4;
}
.nav-links{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: black;
}
/*============section1===========*/
.intro{
    width: 100%;
    height: 700px;
    background-color: var(--clr-green);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.intro h1{
    font-size: 1.5rem;
    width: 80%
}
/*=========section2==========*/
.characters{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.character-cards{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
}
.container{
    display:flex;
    padding: 0 50px;
    align-items: center;
}
.characters h1{
    font-size: 1em;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.character{
    background-color: var(--clr-grey);
    width: 200px;
    height: 300px;
    position: relative;
    box-shadow: 0 0 20px black;
    transition: .3s;
    margin: 0 50px;
    flex-shrink: 0;
    scroll-snap-align: center;
}
.text-card{
    background-color: var(--clr-green);
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    color: white;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: var(--ff-charText);
    font-size: 3rem;
}
.text a{
    text-decoration: none;
    color: white;
}
.character:hover{
    height: 350px;
    width: 225px;
}
/*========js card animation=======*/
.active{
    width: 325px;
    height: 300px;
    background-color: var(--clr-grey);
    position: relative;
    box-shadow: 0 0 20px black;
    transition: .3s;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin: 0 50px;
}

/*========Desktop========*/
@media screen and (min-width: 770px){
    .nav-links li{
        margin-left: 30px;
        font-size: 15px;
    }
    .intro{
        height: 100vh;
    }
    .characters{
        height: 100vh;
    }
    .intro h1{
        font-size: 2rem;
        width: 80%
    }
    .characters h1{
        font-size: 1.5rem;
    }
    .text a{
        font-size: 4rem;
    }
    .character{
        height: 500px;
        width: 350px;
    }
    .character-cards{
        height: 650px;
        scrollbar-width: initial;
    }
    .active{
        height: 550px;
        width: 700px;
    }
    .character:hover{
        height: 600px;
        width: 400px;
    }
    #char-cards::-webkit-scrollbar{
        display: initial !important;
    }
    #char-cards::-webkit-scrollbar{
        display: all !important;
    }
}
@media screen and (min-width: 1200px){
    .intro h1{
        font-size: 3rem;
        width: 80%
    }
    .characters h1{
        font-size: 2rem;
    }
}