{% extends '/characters/character.html' %}
{% block title %} Chef {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/characters.css')}}">
{% endblock %}
{% block content %}
    <section class="section first">
        <div class="container">

        </div>
    </section>
    <section class="section  second">
        <div class="container">
            <h1>Chef</h1>
            <p></p>
        </div>
    </section>
{% endblock %}