<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>characters</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Romanesco&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Romanesco&display=swap" rel="stylesheet"> 
</head>
<body>
    <header class="nav-bar">
        <nav class="nav-links">
            <ul>
                <li><a href="/#Intro">Introduction</a></li>
                <li><a href="/#characters">Characters</a></li>
                <li><a href="/login">Log-in</a></li>
                <li><a href="/signup">Sign-up</a></li>
            </ul>
        </nav>
    </header>
    <section id="Intro" class="intro">
        <h1>
            WELCOME!! Are you ready to change your life? Of course you are, why else would you be here. SCROLL down to get started.
        </h1>
    </section>
    <section id="characters" class="characters">
        <h1>
            CHOOSE THE CHARACTER WHOOSE PERSONALITY MATCHES YOURS THE MOST
        </h1>
        <div class="character-cards" id="char-cards"> 
            <div class="container">
                <div class="character">
                    <img src="" alt="">
                    <div class="text-card">
                        <h1 class="text">
                            <a href="/archer">Archer</a>
                        </h1>
                    </div>
                </div>
                <div class="character">
                    <img src="" alt="">
                    <div class="text-card">
                        <h1 class="text">
                            <a href="">Butcher</a>
                        </h1>
                    </div>
                </div>
                <div class="character">
                    <img src="" alt="">
                    <div class="text-card">
                        <h1 class="text">
                            <a href="">Knight</a>
                        </h1>
                    </div>
                </div>
                <div class="character">
                    <img src="" alt="">
                    <div class="text-card">
                        <h1 class="text">
                            <a href="">Ghost</a>
                        </h1>
                    </div>
                </div>
                <div class="character">
                    <img src="" alt="">
                    <div class="text-card">
                        <h1 class="text">
                            <a href="">Chef</a>
                        </h1>
                    </div>
                </div>
                <div class="character">
                    <img src="" alt="">
                    <div class="text-card">
                        <h1 class="text">
                            <a href="">Ninja</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <script src="{{url_for('static', filename='/js/app.js')}}"></script> -->
    <script src="/static/js/app.js"></script>
</body>
</html>